Resume_playing.json
[{"id":"32fb5cbbf7fc59f2","type":"tab","label":"Resume_playing","disabled":false,"info":"","env":[]},{"id":"dfddffdbc5530c84","type":"server-state-changed","z":"32fb5cbbf7fc59f2","name":"Gagatek","server":"6fb08514.03c05c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_text.gagatek","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"unknown","halt_if_type":"str","halt_if_compare":"is_not","outputs":2,"output_only_on_state_change":true,"x":60,"y":60,"wires":[["183eab567cccebf1"],[]]},{"id":"cf502fae03679666","type":"ha-wait-until","z":"32fb5cbbf7fc59f2","name":"Gagatek_voice","server":"6fb08514.03c05c","outputs":1,"entityId":"input_text.gagatek","entityIdFilterType":"exact","property":"state","comparator":"is_not","value":"unknown","valueType":"str","timeout":0,"timeoutType":"num","timeoutUnits":"seconds","entityLocation":"data","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":580,"y":20,"wires":[["8580246b64d9f640"]]},{"id":"8580246b64d9f640","type":"function","z":"32fb5cbbf7fc59f2","name":"","func":"var globalHomeAssist = global.get('homeassistant');\n\nvar kuchnia_state = globalHomeAssist.homeAssistant.states[\"media_player.kuchnia\"].state;\nif (kuchnia_state == \"playing\")\n{\n    var media_playing = globalHomeAssist.homeAssistant.states[\"media_player.kuchnia\"].attributes.media_content_id;\n    flow.set('muzyka',media_playing);\n}\nelse\n  flow.set('muzyka','null');\n  \n  msg.payload = globalHomeAssist.homeAssistant.states[\"input_text.gagatek\"].state;\n  \n  return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":20,"wires":[["ddd83da75f97df99"]]},{"id":"7b78451d3a2d9f63","type":"api-call-service","z":"32fb5cbbf7fc59f2","name":"Volume 0.3","server":"6fb08514.03c05c","version":1,"debugenabled":false,"service_domain":"media_player","service":"volume_set","entityId":"media_player.kuchnia","data":"{\"volume_level\":\"0.3\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"none","mustacheAltTags":false,"x":1310,"y":20,"wires":[["c817b6f4157a1619"]]},{"id":"c817b6f4157a1619","type":"api-call-service","z":"32fb5cbbf7fc59f2","name":"TTS","server":"6fb08514.03c05c","version":1,"debugenabled":false,"service_domain":"tts","service":"google_say","entityId":"media_player.kuchnia","data":"{\"message\":\"{{payload}}.\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"none","mustacheAltTags":false,"x":1490,"y":20,"wires":[["f6afdd3e999464da","01d59b453103c349"]]},{"id":"ba2d26a5cda0e09d","type":"api-call-service","z":"32fb5cbbf7fc59f2","name":"Volume 0.15","server":"6fb08514.03c05c","version":1,"debugenabled":false,"service_domain":"media_player","service":"volume_set","entityId":"media_player.kuchnia","data":"{\"volume_level\":\"0.15\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"none","mustacheAltTags":false,"x":1870,"y":140,"wires":[["880b3a1f8bc9f30e"]]},{"id":"2518db173344eb9b","type":"api-call-service","z":"32fb5cbbf7fc59f2","name":"Wznów granie muzyki","server":"6fb08514.03c05c","version":1,"debugenabled":true,"service_domain":"media_player","service":"play_media","entityId":"media_player.kuchnia","data":"{\t    \"media_content_id\": \"{{{payload}}}\",\t    \"media_content_type\": \"music\"\t}","dataType":"jsonata","mergecontext":"","output_location":"payload","output_location_type":"none","mustacheAltTags":false,"x":1920,"y":320,"wires":[["0e9fc91bcc30c8d4","f8e6a442f9a8b9e3"]]},{"id":"880b3a1f8bc9f30e","type":"delay","z":"32fb5cbbf7fc59f2","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1900,"y":200,"wires":[["52f99decb12f3a4b"]]},{"id":"52f99decb12f3a4b","type":"function","z":"32fb5cbbf7fc59f2","name":"Assign music to payload","func":"var muza_radio = {payload: flow.get('muzyka')};\n\nreturn muza_radio;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1910,"y":260,"wires":[["2518db173344eb9b"]]},{"id":"b26d098c8b80fd58","type":"delay","z":"32fb5cbbf7fc59f2","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1980,"y":80,"wires":[["ba2d26a5cda0e09d"]]},{"id":"f6afdd3e999464da","type":"api-call-service","z":"32fb5cbbf7fc59f2","name":"Clear input text helpers","server":"6fb08514.03c05c","version":1,"debugenabled":false,"service_domain":"input_text","service":"set_value","entityId":"input_text.gagatek, input_text.gagatek_mp3","data":"{\"value\":\"unknown\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"none","mustacheAltTags":false,"x":1710,"y":20,"wires":[[]]},{"id":"f8e6a442f9a8b9e3","type":"debug","z":"32fb5cbbf7fc59f2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2070,"y":580,"wires":[]},{"id":"ddd83da75f97df99","type":"api-call-service","z":"32fb5cbbf7fc59f2","name":"STOP","server":"6fb08514.03c05c","version":1,"debugenabled":false,"service_domain":"media_player","service":"media_stop","entityId":"media_player.kuchnia","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"none","mustacheAltTags":false,"x":870,"y":20,"wires":[["ea9da64fe4be6ead"]]},{"id":"4659adddcbbfcd79","type":"ha-wait-until","z":"32fb5cbbf7fc59f2","name":"Gagatek_file","server":"6fb08514.03c05c","outputs":1,"entityId":"input_text.gagatek_mp3","entityIdFilterType":"exact","property":"state","comparator":"is_not","value":"unknown","valueType":"str","timeout":0,"timeoutType":"num","timeoutUnits":"seconds","entityLocation":"data","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":650,"y":140,"wires":[["b3ea6d6a97006b86"]]},{"id":"b3ea6d6a97006b86","type":"function","z":"32fb5cbbf7fc59f2","name":"","func":"var globalHomeAssist = global.get('homeassistant');\n\nvar kuchnia_state = globalHomeAssist.homeAssistant.states[\"media_player.kuchnia\"].state;\nif (kuchnia_state == \"playing\")\n{\n    var media_playing = globalHomeAssist.homeAssistant.states[\"media_player.kuchnia\"].attributes.media_content_id;\n    flow.set('muzyka',media_playing);\n}\nelse\n  flow.set('muzyka','null');\n\n  msg.payload = globalHomeAssist.homeAssistant.states[\"input_text.gagatek_mp3\"].state;\n  \n  return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":140,"wires":[["45908f313a08bce8"]]},{"id":"d7c3d67f67339e89","type":"api-call-service","z":"32fb5cbbf7fc59f2","name":"Play_audio_file","server":"6fb08514.03c05c","version":1,"debugenabled":true,"service_domain":"media_player","service":"play_media","entityId":"media_player.kuchnia","data":"{\"media_content_id\":\"{{{payload}}}\",\"media_content_type\":\"music\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"none","mustacheAltTags":false,"x":1560,"y":160,"wires":[["f6afdd3e999464da","01d59b453103c349"]]},{"id":"45908f313a08bce8","type":"api-call-service","z":"32fb5cbbf7fc59f2","name":"STOP","server":"6fb08514.03c05c","version":1,"debugenabled":false,"service_domain":"media_player","service":"media_stop","entityId":"media_player.kuchnia","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"none","mustacheAltTags":false,"x":930,"y":140,"wires":[["880c834fb6c73b62"]]},{"id":"1bbcde5b757b82b3","type":"api-call-service","z":"32fb5cbbf7fc59f2","name":"Volume 0.3","server":"6fb08514.03c05c","version":1,"debugenabled":false,"service_domain":"media_player","service":"volume_set","entityId":"media_player.kuchnia","data":"{\"volume_level\":\"0.3\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"none","mustacheAltTags":false,"x":1350,"y":120,"wires":[["d7c3d67f67339e89"]]},{"id":"ea9da64fe4be6ead","type":"delay","z":"32fb5cbbf7fc59f2","name":"1s","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":990,"y":20,"wires":[["f6f4afe5c1f1f50e"]]},{"id":"880c834fb6c73b62","type":"delay","z":"32fb5cbbf7fc59f2","name":"1s","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1050,"y":140,"wires":[["8967cff9e6bb8e72"]]},{"id":"f6f4afe5c1f1f50e","type":"api-current-state","z":"32fb5cbbf7fc59f2","name":"Bobas spi","server":"6fb08514.03c05c","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.bobas_spi","state_type":"habool","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":1140,"y":20,"wires":[["7b78451d3a2d9f63"],["3650e694a08d2ca8"]]},{"id":"8967cff9e6bb8e72","type":"api-current-state","z":"32fb5cbbf7fc59f2","name":"Bobas spi","server":"6fb08514.03c05c","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.bobas_spi","state_type":"habool","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":1180,"y":140,"wires":[["1bbcde5b757b82b3"],["5cd66e701bc6e881"]]},{"id":"3650e694a08d2ca8","type":"api-call-service","z":"32fb5cbbf7fc59f2","name":"Volume 0.6","server":"6fb08514.03c05c","version":1,"debugenabled":false,"service_domain":"media_player","service":"volume_set","entityId":"media_player.kuchnia","data":"{\"volume_level\":\"0.6\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"none","mustacheAltTags":false,"x":1310,"y":60,"wires":[["c817b6f4157a1619"]]},{"id":"5cd66e701bc6e881","type":"api-call-service","z":"32fb5cbbf7fc59f2","name":"Volume 0.6","server":"6fb08514.03c05c","version":1,"debugenabled":false,"service_domain":"media_player","service":"volume_set","entityId":"media_player.kuchnia","data":"{\"volume_level\":\"0.6\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"none","mustacheAltTags":false,"x":1350,"y":160,"wires":[["d7c3d67f67339e89"]]},{"id":"e17331e32d8e0386","type":"api-call-service","z":"32fb5cbbf7fc59f2","name":"TURN ON","server":"6fb08514.03c05c","version":1,"debugenabled":false,"service_domain":"media_player","service":"turn_on","entityId":"media_player.kuchnia","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"none","mustacheAltTags":false,"x":450,"y":80,"wires":[["4659adddcbbfcd79","cf502fae03679666"]]},{"id":"183eab567cccebf1","type":"api-current-state","z":"32fb5cbbf7fc59f2","name":"ON?","server":"6fb08514.03c05c","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is_not","override_topic":false,"entity_id":"media_player.kuchnia","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":230,"y":100,"wires":[["cf502fae03679666","4659adddcbbfcd79"],["e17331e32d8e0386"]]},{"id":"7ab4dcee5005b374","type":"server-state-changed","z":"32fb5cbbf7fc59f2","name":"MP3","server":"6fb08514.03c05c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_text.gagatek_mp3","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"unknown","halt_if_type":"str","halt_if_compare":"is_not","outputs":2,"output_only_on_state_change":true,"x":50,"y":120,"wires":[["183eab567cccebf1"],[]]},{"id":"0e9fc91bcc30c8d4","type":"function","z":"32fb5cbbf7fc59f2","name":"Clear flow variable","func":"flow.set('muzyka','null');","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2150,"y":320,"wires":[[]]},{"id":"01d59b453103c349","type":"function","z":"32fb5cbbf7fc59f2","name":"Check if music was playing","func":"\nif (flow.get('muzyka') == 'null')\nreturn null;\nelse\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1760,"y":80,"wires":[["b26d098c8b80fd58"]]},{"id":"6fb08514.03c05c","type":"server","name":"Home Assistant","addon":true}]